body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-left: 120px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin: 0px 60px;
    font-size: larger;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar i {
    font-size: 20px;
    margin-left: 10px;
}

.hero-image {
    background: linear-gradient(to right, rgba(255, 95, 220, 0.6), rgba(255, 238, 0, 0.6));
    height: 100vh;
}

#background {
    width: 100%;
    height: 80vh;
    position: absolute;
}

.hero-details {
    background-color: rgba(236, 100, 112, 0.5);
    color: #ffffff;
    position: absolute;
    padding: 20px;
    bottom: 300px;
    left: 100px;
    width: 40%;
    box-sizing: border-box;
}

.hero-details h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-details p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.hero-image h1 {
    text-align: center;
    font-size: 3.5rem;
}

.hero-section {
    position: relative;
}

.section-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 44%;
}

.card-container {
    background: linear-gradient(to right, rgba(255, 95, 220, 0.6), rgba(255, 238, 0, 0.6));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
    
}

.card-background {
    background: #ffffff; 
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    padding: 5px;
    height: 370px;
    width: 250px;
    margin: 80px; 
}

.card {
    width: 230px;
    border-top-right-radius: 40px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
}

.card-image {
    width: 100%;
    height: 200px;
    margin: 0;
    object-fit: cover;
    border-top-right-radius: 70px;
}

.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p {
    margin: 0 10px 10px;
    font-size: 1rem;
    color: #000000;
}


.button {
    padding: 15px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 40px;
    position: absolute;
    bottom: 30px;
    font-size: 1.5rem;
    border-radius: 50px;
    left: 45%;
    border: none;
}

.hamburger-menu {
    display: none;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger {
    display: flex;
    flex-direction: column;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    display: none;
}



@media only screen and (max-width: 768px)
     {
        .navbar {
            margin-left: 0;
        }

        .navbar li {
            margin: 0px 30px;
        }

        .hero-details {
            bottom: 200px;
            left: 50px;
            width: 80%;
        }

        .section-heading {
            left: 40%;
        }
    }

    @media only screen and (max-width: 480px){
        .navbar {
            margin-left: 0;
            justify-content: space-between;
            padding: 5px;
        }

        .navbar li {
            margin: 0px 15px;
            display: none;
        }

        .navbar i {
            margin-left: 5px;
        }

        #background{
            height: 30vh;
        }

        .hero-section{
            width: 35vh;
        }

        .hero-details {
            bottom: 663px;
            left: 10px;
            width: 36%;
        }
        .hero-details h1 {
            font-size: 10px;
        }

        .hero-details p {
            font-size: 5px;
        }

        .hero-image{
            height: 38vh;
        }

        .section-heading {
            font-size: 20px;
            left: 30%;
        }

        .card-container {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            height: 164vh;
            padding: 0px;
        }

        .card-background {
            margin: 20px;
        }

        .button {
            width: 70%;
            left: 39px;
            bottom:-20px;
        }

        .hamburger-menu {
            display: block;
        }

        .line{
            display: block;
        }

        
    }